{% extends "toppage/header.html" %}
{% load crispy_forms_tags %}
{%block formBlock%}
<div class="jumbotron">
  
			<div class="page-header">
			  <h1>Create a new ToDo <small></small></h1>
			</div>
			
			<span class="text-element text-2"></span>
			<div class="row">
			<div class="col-xs-6">
						<form method='POST' action=''> {%csrf_token%}
							<div >
								{{ form|crispy}}								
							</div>
							
							
								<input s  type='submit' class="btn btn-primary" value='Create List'/>
							
						</form>
			
					
				
				</div>
			</div>
			{%if info%}
					<p class='alert alert-warning'>{{info}}</p>
				{%endif%}

</div>
		

{%endblock%}

{%block content%}



	<div class="jumbotron">
	
		{%if object_list|length == 0%}
			<p class='alert alert-danger'> There are no Todo lists in the database. Please create one by entering Title</p>
		{%elif object_list|length == 1%}
			<p class='alert alert-success'> There is {{object_list|length}} ToDo list in the database</p>
		{%else%}
			<p class='alert alert-success'> There are {{object_list|length}} Todo lists</p>
		{%endif%}
	
	
		{%for list in object_list%}

			<div class="panel panel-default">
				<div class="panel-body">

				
					
						<a class="link-text" href="/list/{{list.id}}" style='margin:10px; font-size:40px'>{{list.title}}</a></br>
						<span class="text-element itemListInfo"  style='margin-left:25px; margin-bottom:10px' >{{list.todoAmount}} of {{list.finishedAmount}} in the ToDo list finished</span></br>
						<span class="text-element itemListDate" style='margin-left:25px; margin-bottom:10px'>Date of creation: {{list.createTime|date:"Y-m-d H:i"}} </span>
						<div class="row">
						  <div  class="col-xs-11 " ></div>
						  
						  <form  id='{{list.id}}' style='margin-left:20px' method='POST'  action=''>{%csrf_token%}					
							<input style='horizontal-align:middle' name='{{list.id}}' class="btn btn-danger"  type='submit'   value='Delete'/>
						</form>
						</div>
						
				

			  </div>
			</div>
			</br>
		{%endfor%}
		
		
	</div>

		


	

{%endblock%}